@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pretendard';
    font-weight: 500;
    cursor: none;
}

$key-color: #818CF8;
$gray-color: #909090;
$card-color: #181C25;

body
{
    min-width: 600px;
    overflow-x: hidden;
    user-select: none;
    position: relative;
    background-color: #0B0F19;

    &:has(header li:hover), &:has(.tag:hover), &:has(.project button:hover),
    &:has(#p5 h2:hover), &:has(.indicator li:not(.curr):hover)
    {
        .blur
        {
            background-color: #818CF8;
            border: 3px solid #444d9a;
        }
    }
}

header
{
    position: absolute;
    background: linear-gradient(to bottom, #000,#0B0F19);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
    color: #f3f3f3;
    z-index: 2;

    ul
    {
        display: flex;
        gap: 40px;

        li
        {
            list-style: none;
            transition: transform 0.4s;

            &:hover a
            {
                text-decoration: underline;
            }
            
            a
            {
                color: $gray-color;
                text-decoration: none;
            }
        }
    }
}

.page
{
    width: 100vw;
    min-height: 100vh;
    padding: 30px 40px;
    position: relative;
    // border-bottom: 1px solid $key-color;

    &:not(#p1)
    {
        h3
        {
            font-size: 20px;
            color: $key-color;
        }
        
        h1
        {
            margin-top: 10px;
            font-size: 35px;
            color: #f3f3f3;
        }

        p
        {
            width: 600px;
            color: $gray-color;
            line-height: 1.2;
            margin-top: 3px;
            font-size: 15px;
        }
    }

    &:not(#p1)::before
    {
        content: '';
        background: linear-gradient(to bottom, #000, transparent);
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 200px;
    }

    &::after
    {
        content: '';
        background: linear-gradient(to bottom,#0B0F19, #000);
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100px;
    }

    &#p1::after
    {
        z-index: 0;
    }

    &#p1
    {
        background-image: radial-gradient(rgba(255, 255, 255, 0.12) 2px, transparent 2px);
        background-size: 40px 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        & > div:not(.right)
        {
            display: flex;
            align-items: center;
            flex-direction: column;

            h1
            {
                color: #f3f3f3;
                font-size: clamp(100px, 20vw, 190px);
                font-weight: 500;
                width: 620px;
                line-height: 1.3;
                text-align: center;
            } 
            
            & > div
            {
                width: clamp(460px, 70vw, 660px);
                display: flex;
                justify-content: space-between;
                color: $gray-color;
                padding-inline: 20px;
                flex-wrap: wrap;

                h2
                {
                    font-size: clamp(18px, 3vw, 24px);
                }
            }
        }

        h3
        {
            position: absolute;
            bottom: 30px;
            font-size: 12px;
            color: #f3f3f3;
            z-index: 2;

            &:nth-of-type(1)
            {
                left: 40px;
            }

            &:nth-of-type(2)
            {
                right: 40px;
            }
        }

        .right
        {
            width: 100px;
            writing-mode: vertical-rl;
            font-size: 23px;
            font-weight: 700;
            color: $key-color;
            display: flex;
            flex-direction: column;
            position: absolute;
            right: 40px;
            letter-spacing: 5px;

            small
            {
                font-size: 35px;
                color: $gray-color;
                font-weight: 400;
                letter-spacing: 0;
            }
        }
    }

    &#p2
    {
        position: relative;

        .order
        {
            width: 100%;
            display: grid;
            flex-wrap: wrap;
            grid-template-areas:
            "c1 c2 c3"
            "c4 c5 c5";
            gap: 25px;
            margin-top: 40px;

            h2
            {
                color: #f3f3f3;
                font-size: 23px;
            }

            & > div
            {
                min-height: 165px;
                padding: 20px 23px;
                display: flex;
                flex-direction: column;
                background-color: $card-color;
                border-radius: 5px;
                transition: transform 0.4s;

                &:hover
                {
                    transform: translateY(-10px);
                }
            }

            p
            {
                word-break: break-all;
                width: 100%;
                color: $gray-color;
                margin-top: 9px;
                font-size: 15px;
                line-height: 1.4;
            }
        }

        ul
        {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
            margin-top: 20px;

            li
            {
                background-color: rgba($gray-color, 0.1);
                color: $key-color;
                list-style: none;
                padding: 7px;
                border-radius: 5px;
                font-size: 12px;
            }
        }
    }

    &#p3
    {
        .tags
        {
            margin-top: 40px;
            display: flex;
            flex-wrap: wrap;
            gap: 15px;

            .tag
            {
                background-color: #181C25;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 10px;
                height: 40px;
                padding: 5px 10px;
                border-radius: 10px;
                color: #f3f3f3;
                font-weight: 400;
                font-size: 15px;
                transition: color 0.4s;

                i
                {
                    font-size: 20px;
                    color: #f3f3f3;
                }

                &.good
                {
                    background-color: rgb(42, 46, 56);
                }

                &.selected
                {
                    color: $key-color;

                    i
                    {
                        color: $key-color;
                    }
                }
            }
        }

        .info
        {
            background-color: $card-color;
            padding: 20px 23px;
            width: 100%;
            min-height: 170px;
            margin-top: 40px;
            border-radius: 5px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            
            div.name
            {
                display: flex;
                align-items: center;
                gap: 10px;
            }

            p, ul
            {
                margin-top: 10px;
            }

            p
            {
                width: min(500px, 100%);
            }

            ul
            {
                padding-left: 20px;

                li
                {
                    color: #f3f3f3;
                    font-weight: 400;
                    margin-bottom: 5px;
                }
            }

            h1
            {
                font-size: 25px;
                margin: 0;
            }

            h2
            {
                font-size: 18px;
                color: $key-color;
            }
        }
    }

    &#p4
    {
        .project
        {
            background-color: $card-color;
            padding: 20px 23px;
            margin-top: 40px;
            border-radius: 5px;

            h1
            {
                font-size: 30px;
            }
            
            & > div
            {
                display: flex;
                justify-content: space-between;

                &:not(.mid)
                {
                    align-items: center;
                }
            }
            
            .mid
            {
                margin-top: 30px;
                height: 250px;
                gap: 60px;

                & > div
                {
                    display: flex;
                    height: 100%;
                    justify-content: space-between;
                    flex-direction: column;
                    width: calc(100% - 200px - 50px);
                }
            }
        }

        button
        {
            padding: 5px 9px;
            margin-left: 10px;
        }

        ul
        {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
            margin-top: 10px;

            li
            {
                background-color: rgba($gray-color, 0.1);
                color: $key-color;
                list-style: none;
                padding: 7px;
                border-radius: 5px;
                font-size: 12px;
            }
        }

        h2
        {
            margin-bottom: 5px;
            font-size: 20px;
            color: #f3f3f3;
        }

        img
        {
            width: 275px;
            height: 170px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba($gray-color, 0.1);
            border-radius: 7px;
        }

        p
        {
            line-height: 1.4;
        }

        .indicator
        {
            display: flex;
            justify-content: space-between;
            width: 350px;
            margin-top: 30px;
            margin-inline: calc((100% - 350px) / 2);

            li
            {
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background-color: $gray-color;
                transform: scale(0.9);

                &.curr
                {
                    background-color: #f3f3f3;
                    transform: scale(1.2);
                }
            }
        }
    }

    &#p5
    {
        & > div
        {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            margin-top: 40px;
            border-radius: 5px;
            width: 100%;

            & > div
            {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                background-color: $card-color;
                height: 88px;
                padding: 27px;
                border-radius: 8px;
                margin-bottom: 25px;

                h1, h2
                {
                    font-size: 20px;
                    line-height: 1;
                    margin: 0;
                }

                h1
                {
                    font-weight: 400;
                }

                h2
                {
                    color: $key-color;
                }
                
                div
                {
                    display: flex;
                    align-items: center;

                    i, svg
                    {
                        color: #f3f3f3;
                        font-size: 25px;
                        margin-right: 15px;
                        line-height: 1;
                    }
                }
            }
        }
    }
}

footer
{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;

    h2
    {
        font-size: 18px;
        color: #f3f3f3;

        i
        {
            margin-inline: 5px;
        }
    }
}

.blur
{
    position: fixed;
    width: 20px;
    height: 20px;
    background-color: $card-color;
    border: 3px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(20px);
    border-radius: 50%;
    pointer-events: none;
    top: 0;
    left: 0;
    z-index: 3;
    transition: border 0.3s;
}